<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/images">Images</a></li>
	    		</ul>
			</nav>
			
			<a href="mailto:willa@nattakm.com">email</a>    <a href="https://github.com/NAME">github.com/willaliburd</a>
						
			
			<div class="container">
			{{ content }}
			
			</div><!-- /.container -->
			
			
			<footer>
	    			<p><em>Admitted to practice as an Attorney-at-Law in St. Kitts-Nevis, and the British Virgin Islands</em></p>
				
			</footer>
		</body>
	</html>
